@model List<Customer>

<h1>Kundregister</h1>

@if (Model.FirstOrDefault() == null)
{
    <p>Du har inga aktiva kunder.</p>
}

<table class="table mt-5">
    <thead>
        <tr style="font-size: 1.5rem;">
            <th>Kund id</th>
            <th>Namn</th>
            <th>Faktureringsadress</th>
            <th>Stad</th>
            <th>Land</th>
            <th>Epost</th>
            <th>Telefon</th>

        </tr>
    </thead>
    <tbody>
        
        @foreach (Customer c in Model)
        {
            <tr>
                <td>@c.CID</td>
                <td>@c.Firstname @c.Lastname</td>
                <td>@c.Address</td>
                <td>@c.City</td>
                <td>@c.Country</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
                <td>
                    <form method="get" asp-controller="Customer" asp-action="EditCustomer">
                        <input type="hidden" name="CID" value="@c.CID" />
                        <button class="btn btn-outline-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                    </form>

                </td>
                    
                
            </tr>
        }
    </tbody>
</table>